@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.container {
  max-width: 1080px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.choose--bgc {
  background: #F3F3F3;
}

.choose-top {
  padding: 98px 15px 0;
  width: 100%;
}

.choose-top h2 {
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  max-width: 278px;
}

.choose-top p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 75px;
  max-width: 235px;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 118px;
}

.choose-item {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 30px;
}

.choose-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
  background-color: #ffffff;
}

.choose-item__list h3 {
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 10px 0;
}

.choose-item__list p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #737373;
}

@media screen and (min-width: 768px) {
  .choose-item {
    width: 50%;
  }
  .choose-top h2 {
    max-width: 370px;
  }
  .choose-top p {
    max-width: 511px;
  }
}

@media screen and (min-width: 992px) {
  .choose {
    padding-bottom: 50px;
  }
  .choose--bgc {
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E2E2E2));
    background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
  }
  .choose-top {
    padding-top: 116px;
  }
  .choose-top p {
    margin-bottom: 54px;
  }
  .choose-item {
    width: 25%;
  }
}

.advice--bgc {
  background-color: #F3F3F3;
  padding-top: 90px;
  padding-bottom: 243px;
}

.advice {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice-title {
  padding: 0 15px;
  width: 100%;
}

.advice-title h2 {
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  max-width: 168px;
  margin: auto;
}

.advice-title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 233px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 75px;
}

.advice-item {
  padding: 0 15px;
  width: 100%;
  margin-bottom: 50px;
}

.advice-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  background-color: #ffffff;
  height: 100%;
}

.advice-item__list h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-left: 30px;
  margin-bottom: 15px;
  max-width: 285px;
}

.advice-item__list p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 300px;
  margin-left: 30px;
  margin-bottom: 35px;
}

.advice-item__list img {
  display: block;
}

.responsive {
  width: 100%;
  max-width: 345px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .advice--bgc {
    padding-bottom: 80px;
  }
  .advice-item {
    width: 50%;
  }
  .advice-title {
    margin-top: 125px;
  }
  .advice-title h2 {
    max-width: 330px;
  }
  .advice-title p {
    max-width: 470px;
  }
}

@media screen and (min-width: 992px) {
  .advice--bgc {
    background-color: #FAFAFA;
    padding-bottom: 80px;
  }
  .advice-item {
    width: 25%;
  }
  .advice-item__list h3 {
    max-width: 130px;
  }
  .advice-item__list p {
    max-width: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
